@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1vw + 1vh);
  --button-color: #48b774;
  --button-hover-color: linear-gradient(180deg, #57d88b -80%, #5da190 180%);
  --button-media-color: linear-gradient(180deg, #a4facf -50%, #e8fff8 150%);
  --button-color-text: #fff;
  --header-color-text: #2d2d2d;
  --header-mobile-color: linear-gradient(
    211.79deg,
    #46c077 -8.42%,
    rgba(106, 212, 186, 0.96) 137.15%
  );
  --navigation-bar-color: #4a4a4a;
  --paragraph-color-text: #7c7c7c;
  --search-ph-color-text: #a1a1a1;
  --highlight-color-text: #ff8345;
  --circle-wrapper-height: calc(var(--index) * 33);
  --circle-out-d: calc(var(--index) * 21);
  --circle-out-y: calc(var(--index) * 5.5);
  --circle-out-x: calc(var(--index) * 8.944272);

  --circle-in-d: calc(var(--index) * 14);
  --circle-in-bottom: calc(
    (var(--circle-wrapper-height) - var(--circle-out-d)) / 2 +
      (var(--index) * 2)
  );
  --flag-icon-size: calc(var(--index) * 2);
  --header-height: calc(var(--index) * 4);
  --header-mobile-height: 9vh;
  --page-width: 80vw;
  /* --page-width: calc(var(--index) * 52); */
  --page-tab-width: 90vw;
  --page-mobile-width: 95vw;
  --icon-flag-transition: transform 1s ease-out;
}
html {
  overflow-x: hidden;
  height: 100%;
}
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: calc(var(--index) * 0.75);
  background-color: #ecf7f3;
  max-height: 100vh;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
header {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  /* margin-bottom: var(--header-height); */
}
.header__wrapper {
  width: var(--page-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  color: #4a4a4a;
  gap: calc(var(--index) * 3);
}
.nav__elem {
  display: flex;
  align-items: center;
}
.navigation a {
  text-align: center;
  position: relative;
  color: var(--navigation-bar-color);
}
.navigation .nav__elem a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  margin: auto;
  height: 2px;
  background-color: var(--highlight-color-text);
  transition: 0.3s ease-in-out;
  width: 0;
}
.navigation .nav__elem:is(:hover, .active) a:before {
  width: 30px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo__img {
  width: 55px;
  margin-right: 10px;
}
.logo__text {
  color: var(--header-color-text);
  font-size: 35px;
  font-weight: 500;
}
.button {
  cursor: pointer;
  font-weight: 500;
  background: var(--button-color);
  color: var(--button-color-text);
  padding: 15px 30px;
  border-radius: 40px;
}
.button:hover {
  background: var(--button-hover-color);
}

.container {
  position: relative;
  display: flex;
  width: var(--page-width);
  flex: 1;
  margin: 0 auto;
  margin-top: auto;
}

.content {
  margin-top: auto;
  padding-bottom: calc(var(--index) * 2);
  width: 60%;
}
.main-text {
  line-height: calc(var(--index) * 3);
  font-size: calc(var(--index) * 2.2);
  color: var(--header-color-text);
}
h1.main-text {
  width: calc(var(--index) * 17);
}
h2.main-text {
  margin-bottom: 3vh;
  width: calc(var(--index) * 23);
}
.highlight-text {
  color: var(--highlight-color-text);
}

.paragraph {
  width: 75%;
  font-weight: 500;
  line-height: 35px;
  color: var(--paragraph-color-text);
  margin-bottom: 3vh;
}

.button.start-btn {
  display: inline-block;
  margin-bottom: 6vh;
}

.search {
  position: relative;
  width: calc(var(--index) * 27);
  height: 80px;
  background: white;
  border-radius: 40px;
  margin-bottom: 6vh;
}

.search-input {
  position: absolute;
  width: 80%;
  top: 0;
  bottom: 0;
  padding-left: 50px;
  background: none;
  border: none;
  font-size: calc(var(--index) * 0.8);
}
.input-invalid {
  font-size: calc(var(--index) * 0.7);

  color: var(--button-color);
  opacity: 0;
  display: inline-block;
  position: absolute;
  top: 85px;
  left: 15px;
  transition: 0.2s ease-in 0s;
}
.search-input:invalid ~ .input-invalid {
  transition: 0.3s ease-in 1s;
  opacity: 0.9;
}
.search-input::placeholder {
  color: var(--search-ph-color-text);
}
.search-input:focus {
  color: var(--header-color-text);
  outline: none;
}
.button.search-btn {
  padding: 0;
  width: 70px;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.search-icon {
}
.search-icon-circle {
  position: absolute;
  top: 0;
  bottom: 3px;
  margin: auto;
  right: 24px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #639c6800;
  border: 3px solid white;
}

.search-icon-line {
  transform: rotate(45deg) translateX(-6px) translateY(21px);
  position: absolute;
  display: block;
  width: 12px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  top: 0px;
  bottom: 0;
  margin: auto;
  right: 0px;
}
.user-bar {
  margin-top: auto;
  display: flex;
}
.user-list {
  display: flex;
  position: relative;
}

.user-list__img:not(:first-of-type) {
  margin-left: -25px;
}

.user-list__img {
  display: block;

  width: calc(var(--index) * 2);
}
.user-1 {
  z-index: 1;
}
.user-2 {
  z-index: 0;
}
user-3 {
  z-index: -1;
}
.user-plus {
  z-index: -2;
  margin-right: 15px;
}
.user-plus__btn {
  cursor: pointer;
  pointer-events: auto;
  bottom: 0;
  right: 15px;
  z-index: 0;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background: #ffffff00;
  position: absolute;
}

.user-text {
  display: flex;
  align-items: center;
  /* flex-basis: 500px;
  flex-grow: 0;
  flex-shrink: 0; */
  color: var(--paragraph-color-text);
}

.user-text a {
  font-weight: 500;
  position: relative;
}
.user-text a:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  margin: auto;
  height: 2px;
  background-color: var(--highlight-color-text);
  transition: 0.4s ease-in-out;
  width: 0;
}
.user-text a:hover::before {
  width: 100%;
}
.img-girl-section {
  display: flex;
  justify-content: center;
  position: relative;
  width: 40%;
}
.img-girl-wrapper {
  height: auto;
  height: 50vh;
  z-index: 1;
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
}
.circle-wrapper {
  overflow: hidden;
  border-radius: 50%;
  width: 800px;
  height: var(--circle-wrapper-height);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
.circle-out {
  border-radius: 50%;
  width: var(--circle-out-d);
  height: var(--circle-out-d);
  border: 2px solid #e8e8e8;
  position: relative;
  animation: rotate 25s linear 5.7s infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.circle-in {
  border-radius: 50%;
  background: var(--button-color);
  width: var(--circle-in-d);
  height: var(--circle-in-d);
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: var(--circle-in-bottom);
}
.circle-icon {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  width: var(--flag-icon-size);
  transform: scale(0.2);
  -webkit-transform: scale(0.2);
  height: var(--flag-icon-size);
}
.circle-icon {
  opacity: 1;
}
.circle-icon img {
  width: 100%;
  animation: rotate-icon 25s linear 5.7s infinite;
}
@keyframes rotate-icon {
  100% {
    transform: rotate(-360deg);
  }
}

.circle-icon.in-3.active {
  transition: var(--icon-flag-transition) 3s;
  -webkit-transform: translate(
      calc(var(--circle-out-x) * -1),
      var(--circle-out-y)
    )
    scale(1);
}

.circle-icon.gb.active {
  width: calc(var(--flag-icon-size) * 1.9);
  height: calc(var(--flag-icon-size) * 1.9);
  transition: var(--icon-flag-transition) 3.4s;
  -webkit-transform: translate(
    calc(var(--circle-out-x) * -1),
    calc(var(--circle-out-y) * -1)
  );
}

.circle-icon.it.active {
  width: calc(var(--flag-icon-size) * 1.5);
  height: calc(var(--flag-icon-size) * 1.5);
  transition: var(--icon-flag-transition) 3.8s;
  -webkit-transform: translate(0, calc(var(--circle-out-d) * -0.5));
}

.circle-icon.in-1.active {
  width: calc(var(--flag-icon-size) * 1.6);
  height: calc(var(--flag-icon-size) * 1.6);
  transition: var(--icon-flag-transition) 4.2s;
  -webkit-transform: translate(
    var(--circle-out-x),
    calc(var(--circle-out-y) * -1)
  );
}
.circle-icon.in-2.active {
  transition: var(--icon-flag-transition) 4.6s;
  -webkit-transform: translate(var(--circle-out-x), var(--circle-out-y));
}

.girl {
  position: absolute;
  bottom: 0;
  width: calc(var(--index) * 12.5);
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
  body {
    font-size: calc(var(--index) * 1);
  }
  header {
    background: var(--header-mobile-color);
    height: var(--header-mobile-height);
    margin-bottom: var(--header-mobile-height);
  }
  .header__wrapper {
    width: var(--page-mobile-width);
  }
  .navigation a {
    color: var(--button-color-text);
  }
  .sign-up-btn {
    color: rgb(17, 180, 126);
    background: var(--button-media-color);
  }
  .logo__text {
    display: none;
  }
  .container {
    flex-direction: column;
    width: var(--page-tab-width);
    justify-content: center;
  }
  .container > div {
    width: 100%;
  }
  .content *:not(.main-text) {
    opacity: 0;
  }
  .main-text {
    line-height: calc(var(--index) * 5);
    font-size: calc(var(--index) * 3.3);
  }
  h1.main-text {
    width: 75%;
  }
  h2.main-text {
    width: 90%;
  }
  .search {
    width: calc(var(--index) * 35);
  }
  .search-input {
    font-size: calc(var(--index) * 1);
  }
  .input-invalid {
    /* width: 100vw; */
    font-size: calc(var(--index) * 1);
  }

  .girl {
    width: 250px;
  }
  .img-girl-section {
    position: absolute;
    /* display: none; */
    bottom: 0;
  }
}

/* @media screen and (min-width: 0px) and (max-width: 650px) {
  .main-text {
    font-size: 36px;
    line-height: 56px;
  }
  h1.main-text {
    width: 80%;
  }
  .girl {
    width: 250px;
  }
}  */
